.fishList {
    display: flex;
    flex-wrap: nowrap;
}

.fishList {
    display: flex;
}

.fish {

}

.sectitle {
    float: top; 
}

.fishpic {
    width: 200px;
    height: 200px;
    padding: auto;
}